<% content_for :title do %>Sample Asana Tasks Dashing Tile<% end %>
<div class="gridster">
	<ul>
		<li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
			<div data-id="asana_tasks" data-view="AsanaTasks" data-title="Today's Tasks"></div>
		</li>
  	</ul>
</div>
